In [9]:
bicycles = ['1','3','9']
print(bicycles)

['1', '3', '9']

访问列表元素,第一个列表元素的索引为0

In [10]:
print(bicycles[0])

1

to return the last element in List: use index -1

In [11]:
print(bicycles[-1])

9

ADD new element at the last of the List

In [12]:
bicycles.append('11')
print(bicycles)

['1', '3', '9', '11']

INSERT element in List

In [13]:
bicycles.insert(0,'5')
print(bicycles)
# insert element in the '0' position

['5', '1', '3', '9', '11']

DELETE element in List

In [14]:
del bicycles[0]

In [15]:
print(bicycles)

['1', '3', '9', '11']

function POP can delete and get the last element of the List

In [16]:
a = bicycles.pop()
print(a)
print(bicycles)

11
['1', '3', '9']

function POP can delete and get any element in List

In [18]:
b = bicycles.pop(1)
print(b)
print(bicycles)

3
['1', '9']

function REMOVE can delete the first specified value

In [19]:
bicycles.remove('9')
bicycles

['1']

function SORT can sort the List permanently

In [21]:
cars = ['b','a','t','s']
cars.sort()
print(cars)

['a', 'b', 's', 't']

In [22]:
cars = ['b','a','t','s']
cars.sort(reverse = True)# reverse order
print(cars)

['t', 's', 'b', 'a']

function SORTED can sort the List temporarily

In [23]:
cars = ['b','a','t','s']
print(sorted(cars))

['a', 'b', 's', 't']

In [24]:
print(cars)

['b', 'a', 't', 's']

function REVERSE can reverse the order of the List

In [26]:
cars = ['b','a','t','s']
cars.reverse()
print(cars)

['s', 't', 'a', 'b']

the length of the List

In [28]:
cars = ['b','a','t','s']
print(len(cars))

4

TRAVERSE the List

In [29]:
friends = ['lbh', 'zz', 'hzy', 'hjh', 'hm']
for friend in friends:
    print(friend)

lbh
zz
hzy
hjh
hm

function RANGE can generate a series of numbers

In [30]:
for value in range(1, 5):
    print(value)
# only print (1,range-1)

1
2
3
4

In [31]:
numbers = list(range(1,5))
print(numbers)

[1, 2, 3, 4]

In [32]:
even_numbers = list(range(2,11,2))#stride = 2
print(even_numbers)

[2, 4, 6, 8, 10]

In [33]:
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

# equals to:
# squares = [value ** 2 for value in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

simple statistical calculation

In [38]:
digits = [1, 2, 3, 4, 5, 6]
print(f"min:{min(digits)}")
print(max(digits))
print(sum(digits))

min:1
6
21

SLICE 切片

In [42]:
friends = ['lbh', 'zz', 'hzy', 'hjh', 'hm']
print(friends[0:3])
print(friends[:3])# default begin at 0, namely the top three elements
print(friends[2:])# default end at end
# [0:3] same as range(0,3)
# namely 0, 1, 2

['lbh', 'zz', 'hzy']
['lbh', 'zz', 'hzy']
['hzy', 'hjh', 'hm']

In [43]:
print(friends[-3:])
# last three elements

['hzy', 'hjh', 'hm']

TRAVERE the slice

In [44]:
friends = ['lbh', 'zz', 'hzy', 'hjh', 'hm']
for friend in friends[-3:]:
    print (friend.title())

Hzy
Hjh
Hm

DUPLICATE the list

In [45]:
friends = ['lbh', 'zz', 'hzy', 'hjh', 'hm']
m_friends = friends[:]
print(m_friends)

['lbh', 'zz', 'hzy', 'hjh', 'hm']